<section class="user_info">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
</section>
<%= link_to "follower", following_user_path ,class:"btn btn-lg btn-primary" %>
<%= link_to "followed", follower_user_path ,class:"btn btn-lg btn-primary" %>
<table class="table table-striped">
  <tbody>
      <tr>
          <th>
              <span>email</span>
          </th>
          <td>
              <%= @user.email %>
          </td>
      </tr>
      <tr>
          <th>
              <span>自己紹介</span>
          </th>
          <td>
              <%= @user.profile %>
          </td>
      </tr>
  </tbody>
</table>